{% extends 'profile/profile_base.html' %}
{% load static i18n %}


{% block profile_content %}
    <section class="full-section container">
        <h2 class="section-header">
            {% trans "Personal Information" %}
        </h2>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {% include 'common/form.html' with form=form %}
            <button class="submit-button" type="submit">
                <i class="bi bi-check-circle"></i>
                {% trans "Submit" %}
            </button>
        </form>
    </section>
{% endblock profile_content %}