{% extends 'base.html' %}
{% load i18n socialaccount %}

{% block title %}
    {% trans "Sign Up" %}
{% endblock title %}

{% block base_hero %}{% endblock base_hero %}

{% block content %}
    <main>
        <section class="float-section">
            <h2 class="section-header">
                {% trans "Sign Up" %}
            </h2>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    {% include 'common/form.html' with form=form %}
                    <button class="submit-button below-captcha" type="submit">
                        <i class="bi bi-person-fill-add"></i>
                        {% trans "Sign Up" %}
                    </button>
                </form>
                <div class="divider">
                    <div class="line"></div>
                    <p class="text">{% trans "OR" %}</p>
                </div>
                <form action="{% provider_login_url 'google'%}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="google-auth-button">
                        <i class="bi bi-google"></i>
                        {% trans "Sign Up With Google" %}
                    </button>
                </form>
            </div>
            <div class="dont-have">
                {% trans "Already Have an Account ?" %} 
                <a href="{% url 'login' %}">
                    {% trans "Login With It" %}
                </a>
            </div>
        </section>
    </main>
{% endblock content %}