{% load i18n %}

<nav class="container">
    <h1>
        <a href="{% url 'home' %}">
            {% trans "Alraida Academy" %}
        </a>
    </h1>
    <ul class="links">
        <li class="hover-dropdown">
            <span class="dropdown-text">
                {% trans "Test" %}
            </span>
            <ul class="dropdown-list">
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
            </ul>
        </li>
        <li class="hover-dropdown">
            <span class="dropdown-text">
                {% trans "Test" %}
            </span>
            <ul class="dropdown-list">
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
            </ul>
        </li>
        <li class="hover-dropdown">
            <span class="dropdown-text">
                {% trans "Test" %}
            </span>
            <ul class="dropdown-list">
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
            </ul>
        </li>
        <li class="hover-dropdown">
            <span class="dropdown-text">
                {% trans "Test" %}
            </span>
            <ul class="dropdown-list">
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
            </ul>
        </li>
        <li class="hover-dropdown">
            <span class="dropdown-text">
                {% trans "Test" %}
            </span>
            <ul class="dropdown-list">
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
                <li>
                    <a href="">
                        {% trans "Test Test Test" %}
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'about_us' %}">
                {% trans "About Us" %}
            </a>
        </li>
        <li>
            <a href="{% url 'contact' %}">
                {% trans "Contact" %}
            </a>
        </li>
        <li>
            <a href="{% url 'support' %}">
                {% trans "Support" %}
            </a>
        </li>
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}">
                    {% trans "Logout" %}
                </a>
            </li>
            <li class="with-bg">
                <a href="{% url 'profile' %}">
                    <i class="bi bi-person-circle"></i>
                </a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'login' %}">
                    {% trans "Login" %}
                </a>
            </li>
        {% endif %}
        <li class="with-bg">
            <i class="bi bi-translate"></i>
        </li>
        <li class="with-bg">
            <div class="badge">
                6
            </div>
            <i class="bi bi-cart3"></i>
        </li>
    </ul>
    <button id="mobile-toggle">
        <i class="bi bi-list"></i>
    </button>
    <aside id="side-navbar">
        <button id="mobile-toggle-close">
            <i class="bi bi-x-lg"></i>
        </button>
        <ul class="side-links">
            <li class="dropdown-side">
                <span class="dropdown-text-side">
                    {% trans "Test" %}
                    <i class="bi bi-caret-down-fill"></i>
                </span>
                <ul class="dropdown-list-side">
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown-side">
                <span class="dropdown-text-side">
                    {% trans "Test" %}
                    <i class="bi bi-caret-down-fill"></i>
                </span>
                <ul class="dropdown-list-side">
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown-side">
                <span class="dropdown-text-side">
                    {% trans "Test" %}
                    <i class="bi bi-caret-down-fill"></i>
                </span>
                <ul class="dropdown-list-side">
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown-side">
                <span class="dropdown-text-side">
                    {% trans "Test" %}
                    <i class="bi bi-caret-down-fill"></i>
                </span>
                <ul class="dropdown-list-side">
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown-side">
                <span class="dropdown-text-side">
                    {% trans "Test" %}
                    <i class="bi bi-caret-down-fill"></i>
                </span>
                <ul class="dropdown-list-side">
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {% trans "Test Test Test" %}
                        </a>
                    </li>
                </ul>
            </li>
            <hr />
            <li>
                <a href="{% url 'about_us' %}">
                    <i class="bi bi-exclamation-circle"></i>
                    {% trans "About Us" %}
                </a>
            </li>
            <li>
                <a href="{% url 'contact' %}">
                    <i class="bi bi-envelope"></i>
                    {% trans "Contact" %}
                </a>
            </li>
            <li>
                <a href="{% url 'support' %}">
                    <i class="bi bi-question-circle"></i>
                    {% trans "Support" %}
                </a>
            </li>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'profile' %}">
                        <i class="bi bi-person-circle"></i>
                        {% trans "Profile" %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        <i class="bi bi-box-arrow-left"></i>
                        {% trans "Logout" %}
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">
                        <i class="bi bi-box-arrow-right"></i>
                        {% trans "Login" %}
                    </a>
                </li>
            {% endif %}
            <li class="with-bg">
                <span>
                    <i class="bi bi-translate"></i>
                    {% trans "Language" %}
                </span>
            </li>
            <li class="with-bg">
                <span>
                    <i class="bi bi-cart3"></i>
                    {% trans "Cart" %}
                    <div class="badge-side">
                        6
                    </div>
                </span>
            </li>
        </ul>
    </aside>
    <div id="overlay"></div>
</nav>