{% extends 'teacher/teacher_dashboard_base.html' %}
{% load static i18n my_filters %}


{% block teacher_dashboard_content %}
    <section class="full-section container">
        <h3 class="section-header">
            {% trans "Adding and Editing Questions" %}
        </h3>
        <section class="mt-5">
            <ul class="add-quastion-choices">
                <li>
                    <a class="button" href="{% url 'exam_add_quastions' exam.id "mcq" %}" >
                        {% trans "MCQ Question" %}
                    </a>
                </li>
                <li>
                    <a class="button" href="{% url 'exam_add_quastions' exam.id "true-false" %}">
                        {% trans "True False Question" %}
                    </a>
                </li>
                <li>
                    <a class="button" href="{% url 'exam_add_quastions' exam.id "essay" %}">
                        {% trans "Essay Question" %}
                    </a>
                </li>
                <li>
                    <a class="button bg-secondary" href="{% url 'exam_add_quastions_created_before' exam.id %}">
                        {% trans "Question Created Before" %}
                    </a>
                </li>
            </ul>
        </section>
        <section>
            <form method="POST">
                <h4 class="section-subheader">
                    {% trans "Add Questions You Created Before" %}
                </h4>
                {% csrf_token %}
                <div class="subsections-wrapper">
                    {% if mcq_questions %}
                        <section class="subsection">
                            <h5 class="subsection-header">
                                {% trans "MCQ" %}
                            </h5>
                            <div class="checkbox-card-wrapper">
                                {% for question in mcq_questions %}
                                    <div class="checkbox-card">
                                        <input type="checkbox" id="{{ question.id }}" name="mcq_{{ question.id }}" />
                                        <label for="{{ question.id }}">{{ question|get_attr_lang:"question"|safe }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}
                    {% if true_false_questions %}
                        <section class="subsection">
                            <h5 class="subsection-header">
                                {% trans "true-false" %}
                            </h5>
                            <div class="checkbox-card-wrapper">
                                {% for question in true_false_questions %}
                                    <div class="checkbox-card">
                                        <input type="checkbox" id="{{ question.id }}" name="true-false_{{ question.id }}" />
                                        <label for="{{ question.id }}">{{ question|get_attr_lang:"question"|safe }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}
                    {% if essay_questions %}
                        <section class="subsection">
                            <h5 class="subsection-header">
                                {% trans "essay" %}
                            </h5>
                            <div class="checkbox-card-wrapper">
                                {% for question in essay_questions %}
                                    <div class="checkbox-card">
                                        <input type="checkbox" id="{{ question.id }}" name="essay_{{ question.id }}" />
                                        <label for="{{ question.id }}">{{ question|get_attr_lang:"question"|safe }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}
                </div>
                <button class="submit-button" type="submit">
                    {% trans "Add The Questions" %}
                </button>
            </form>
        </section>
        <hr class="line-separator mt-5">
        <section class="mt-2">
            <h3 class="section-header">
                {% trans "Exam's Question" %}
            </h3>
            {% if quastions_number == 0 %}
                <p class="section-subheader text-center clr-danger bg-danger-light w-fit rounded-sm p-2 mx-auto">
                    {% trans "This exam doesn't have any questions so far." %}
                </p>
            {% else %}
                <h4 class="section-subheader">
                    {% trans "MCQ Questions" %}
                </h4>
                <div class="teacher-question-wrapper mt-1">
                    {% for mcq_question in exam.mcq_questions.all %}
                        {% include "partials/teacher/question_card.html" with question=mcq_question exam=exam type="mcq" %}
                    {% empty %}
                        <div class="empty-content-text">
                            {% trans "No MCQ Questions In This Exam Yet" %}
                        </div>
                    {% endfor %}
                </div>
                <hr class="line-separator-thin mt-5">
                <h4 class="section-subheader mt-3">
                    {% trans "True-False Questions" %}
                </h4>
                <div class="teacher-question-wrapper mt-1">
                    {% for true_false_question in exam.true_false_questions.all %}
                        {% include "partials/teacher/question_card.html" with question=true_false_question exam=exam type="true-false" %}
                    {% empty %}
                        <div class="empty-content-text">
                            {% trans "No True-False Questions In This Exam Yet" %}
                        </div>
                    {% endfor %}
                </div>
                <hr class="line-separator-thin mt-4">
                <h4 class="section-subheader mt-3">
                    {% trans "Essay Questions" %}
                </h4>
                <div class="teacher-question-wrapper mt-1">
                    {% for essay_question in exam.essay_questions.all %}
                        {% include "partials/teacher/question_card.html" with question=essay_question exam=exam type="essay" %}
                    {% empty %}
                        <div class="empty-content-text">
                            {% trans "No Essay Questions In This Exam Yet" %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </section>
        <script>
            function removeQuestionFromExam(button) {
                Swal.fire({
                    icon: 'warning',
                    title: '{% trans "Warning!" %}',
                    text: `{% trans "Are You Sure You Want To Remove This Question From This Exam" %}`,
                    showConfirmButton: false,
                    showDenyButton: true,
                    denyButtonText: '{% trans "Yes" %}',
                    showCancelButton: true,
                    cancelButtonText: '{% trans "No" %}',
                }).then((result) => {
                    if (result.isDenied) {
                        window.location.replace(button.dataset.url)
                    }
                })
            }
        </script>
    </section>
{% endblock teacher_dashboard_content %}