{% extends 'teacher/teacher_dashboard_base.html' %}
{% load static i18n %}


{% block teacher_dashboard_content %}
    <section class="container full-section">
        <h2 class="section-header">
            {% trans "Create New Exam" %}
        </h2>
        <form method="POST">
            {% csrf_token %}
            {% include "common/form.html" with form=form %}
            <button class="submit-button" type="submit">
                {% trans "Create" %} <i class="bi bi-plus-circle"></i>
            </button>
        </form>
    </section>
{% endblock teacher_dashboard_content %}