{% extends 'teacher/teacher_dashboard_base.html' %}
{% load static i18n %}


{% block teacher_dashboard_content %}
    {% if teacher.is_active %}
        <section class="full-section container">
            <h3 class="section-subheader text-center">
                {% trans "Teacher Dashboard" %}
            </h3>
            
        </section>
    {% else %}
        <section class="float-section">
            <p class="section-subheader clr-secondary text-center">
                {% trans "Nice!, You Have Created Your Teacher Account Successfully, Please Wait Until We Review You Information." %}
            </p>
        </section>
    {% endif %}
{% endblock teacher_dashboard_content %}