{% load i18n %}

<section class="container full-section">
	<h2 class="section-header">{% trans "Our Partners" %}</h2>
	<div class="swiper">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper" style="padding-bottom: 2.5rem">
			<!-- Slides -->
			<div class="swiper-slide">
                <a href="">
                    <img src="http://via.placeholder.com/160" alt="partner" />
                </a>
                <p>
                    Test Name 1
                </p>
            </div>
			<div class="swiper-slide">
                <a href="">
                    <img src="http://via.placeholder.com/160" alt="partner" />
                </a>
                <p>
                    Test Name 2
                </p>
            </div>
			<div class="swiper-slide">
                <a href="">
                    <img src="http://via.placeholder.com/160" alt="partner" />
                </a>
                <p>
                    Test Name 3
                </p>
            </div>
			<div class="swiper-slide">
                <a href="">
                    <img src="http://via.placeholder.com/160" alt="partner" />
                </a>
                <p>
                    Test Name 4
                </p>
            </div>
			<div class="swiper-slide">
                <a href="">
                    <img src="http://via.placeholder.com/160" alt="partner" />
                </a>
                <p>
                    Test Name 5
                </p>
            </div>
			<div class="swiper-slide">
                <a href="">
                    <img src="http://via.placeholder.com/160" alt="partner" />
                </a>
                <p>
                    Test Name 6
                </p>
            </div>
			<div class="swiper-slide">
                <a href="">
                    <img src="http://via.placeholder.com/160" alt="partner" />
                </a>
                <p>
                    Test Name 7
                </p>
            </div>
			<div class="swiper-slide">
                <a href="">
                    <img src="http://via.placeholder.com/160" alt="partner" />
                </a>
                <p>
                    Test Name 8
                </p>
            </div>
			<div class="swiper-slide">
                <a href="">
                    <img src="http://via.placeholder.com/160" alt="partner" />
                </a>
                <p>
                    Test Name 9
                </p>
            </div>
			<div class="swiper-slide">
                <a href="">
                    <img src="http://via.placeholder.com/160" alt="partner" />
                </a>
                <p>
                    Test Name 10
                </p>
            </div>
			<div class="swiper-slide">
                <a href="">
                    <img src="http://via.placeholder.com/160" alt="partner" />
                </a>
                <p>
                    Test Name 11
                </p>
            </div>
			<div class="swiper-slide">
                <a href="">
                    <img src="http://via.placeholder.com/160" alt="partner" />
                </a>
                <p>
                    Test Name 12
                </p>
            </div>
			<div class="swiper-slide">
                <a href="">
                    <img src="http://via.placeholder.com/160" alt="partner" />
                </a>
                <p>
                    Test Name 13
                </p>
            </div>
			<div class="swiper-slide">
                <a href="">
                    <img src="http://via.placeholder.com/160" alt="partner" />
                </a>
                <p>
                    Test Name 14
                </p>
            </div>
			<div class="swiper-slide">
                <a href="">
                    <img src="http://via.placeholder.com/160" alt="partner" />
                </a>
                <p>
                    Test Name 1
                </p>
            </div>
		</div>
        <div class="swiper-pagination more-in-small"></div> 
	</div>
</section>
