{% extends 'base.html' %}
{% load i18n socialaccount %}

{% block title %}
    {% trans "Sign Up" %}
{% endblock title %}

{% block base_hero %}{% endblock base_hero %}

{% block content %}
    <main>
        <section class="float-section">
            <h2 class="section-header">
                {% trans "Sign Up" %}
            </h2>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    {% include 'common/form.html' with form=form %}
                    <button class="submit-button" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                            <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                        </svg>
                        {% trans "Sign Up" %}
                    </button>
                </form>
                <div class="divider">
                    <div class="line"></div>
                    <p class="text">{% trans "OR" %}</p>
                </div>
                <form action="{% provider_login_url 'google'%}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="google-auth-button">
                        <i class="bi bi-google"></i>
                        {% trans "Login With Google" %}
                    </button>
                </form>
            </div>
            <div class="dont-have">
                {% trans "Already Have an Account ?" %} 
                <a href="{% url 'login' %}">
                    {% trans "Login With It" %}
                </a>
            </div>
        </section>
    </main>
{% endblock content %}