{% load i18n humanize my_filters %}


<div class="teacher-exam-card">
    <div class="card-head">
        <h4 class="card-title">
            {{ exam|get_attr_lang:"name" }}
        </h4>
        <ul class="card-badge-container">
    
            {% if exam.is_demo %}
                <li class="card-badge">
                    {% trans "demo" %}
                </li>
            {% else %}
                <li class="card-badge">
                    {% trans "paid" %}
                </li>
            {% endif %}
        
            {% if exam.is_active %}
                <li class="card-badge">
                    {% trans "active" %}
                </li>
            {% else %}
                <li class="card-badge">
                    {% trans "inactive" %}
                </li>
            {% endif %}
        
            {% if exam.is_finish %}
                <li class="card-badge">
                    {% trans "completed" %}
                </li>
            {% else %}
                <li class="card-badge">
                    {% trans "uncompleted" %}            
                </li>
            {% endif %}
    
        </ul>
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ exam|get_attr_lang:"description" }}
        </p>
    </div>
    <div class="card-end">
        <div class="card-actions">
            {% if not exam.is_active %}
                <a href="{% url 'exam_edit' exam.id %}" class="button clr-primary-content">
                    {% trans "Edit Exam" %} <i class="bi bi-pencil-square" style="color: inherit"></i>
                </a>
                <button data-url="{% url 'exam_delete' exam.id %}" data-name="{{ exam|get_attr_lang:"name" }}" class="bg-danger clr-primary-content" onclick="deleteExam(this)">
                    {% trans "Delete" %} <i class="bi bi-trash" style="color: inherit"></i>
                </button>
            {% endif %}
            {% if not exam.is_finish %}
                <a href="{% url 'exam_add_quastions' exam.id "mcq" %}" class="button bg-secondary clr-primary-content">
                    {% trans "Add Questions" %} <i class="bi bi-plus-lg" style="color: inherit"></i>
                </a>
                <a href="{% url 'exam_finish' exam.id %}" class="button bg-primary-light">
                    {% trans "Finish The Exam" %} <i class="bi bi-check-circle"></i>
                </a>
            {% endif %}
            {% if exam.is_finish %}
                <a href="{% url 'exam_take_exam' exam.id %}" class="button bg-secondary">
                    {% trans "Try Taking The Exam" %} <i class="bi bi-ui-checks" style="color: inherit"></i>
                </a>
            {% endif %}
            <a href="{% url 'exam_details' exam.id %}" class="button {% if exam.is_finish %}bg-primary-light{% endif %}">
                {% trans "Exam's Details" %} <i class="bi bi-info-circle" style="color: inherit"></i>
            </a>
        </div>
        <span>
            <time datetime="{{ exam.created_at }}">
                {{ exam.created_at|naturaltime }}
            </time>
            <i class="bi bi-clock"></i>
        </span>
    </div>
</div>