{% load i18n %}

<ul class="errors-group">
    {% for error in form.non_field_errors %}
        <li class="form-error">
            <div>
                <span>{{ error|escape }}</span>
            </div>
        </li>
    {% endfor %}
    {% for field in form %}
        {% for error in field.errors %}
        {% if field.label == "Captcha" and error == "This field is required." %}
            <li class="form-error">
                <div>
                    <span>{% trans "You must pass the reCAPTCHA test" %}</span>
                </div>
            </li>
        {% else %}
            <li class="form-error">
                <div>
                    <span>{{ error|escape }}</span>
                </div>
            </li>
        {% endif %}
        {% endfor %}
    {% endfor %}
</ul>

{% for field in form %}
    {% if field.widget_type == "checkbox" %}
        <div class="label-field-group-checkbox">
            <label class="label label-checkbox">
                {{ field }}
                <span tabindex="-1" class="indicator">
                    <i class="bi bi-check"></i>
                </span>
                {{ field.label }}
            </label>
        </div>
    {% elif field.label == "Captcha" %}
        <div class="label-field-group p-captcha-small">
            {{ field }}
        </div>
    {% elif field.name == "phone_number" %}
        <div class="label-field-group">
            {% if field.field.required %}
                <label for="{{ field.id_for_label }}" class="label"> {{ field.label }} * </label>
            {% else %}
                <label for="{{ field.id_for_label }}" class="label"> {{ field.label }} </label>
            {% endif %}
            <div class="input-group">
                {{ field }}
            </div>
        </div>
    {% elif field.name == "bio" %}
        <div class="label-field-group">
            {% if field.field.required %}
                <label for="{{ field.id_for_label }}" class="label"> {{ field.label }} * </label>
            {% else %}
                <label for="{{ field.id_for_label }}" class="label"> {{ field.label }} </label>
            {% endif %}
            {{ field }}
            <div class="note-under-input">
                {% trans "Note: The Minimum length of \"bio\" is 1300" %}
            </div>
            <div class="ratio-block">
                <span id="bio-counter" style="color: var(--danger-main)">0 / 1300</span>
            </div>
        </div>
    {% else %}
        <div class="label-field-group">
            {% if field.field.required %}
                <label for="{{ field.id_for_label }}" class="label"> {{ field.label }} * </label>
            {% else %}
                <label for="{{ field.id_for_label }}" class="label"> {{ field.label }} </label>
            {% endif %}
            {{ field }}
        </div>
    {% endif %}
{% endfor %}