{% extends 'base.html' %}
{% load i18n %}


{% block title %}
    {% trans "Contact Us" %}
{% endblock title %}

{% block hero %}{% endblock hero %}

{% block content %}
    {% if sended %}
        <script>
            Swal.fire({
                icon: 'success',
                title: '{% trans "Successful Sending" %}',
                text: '{% trans "Thank You For Your Email. We Will Reply To This Email As Soon As Possible" %}',
                confirmButtonText: '{% trans "OK" %}',
                confirmButtonColor: '#004c98',
            })
        </script>
    {% endif %}
    <section class="container">
        <h2 class="section-header">
            {% trans "Contact Us" %}
        </h2>
        <section class="contact-methods-group">
            <div class="contact-method">
                <i class="bi bi-telephone"></i>
                <div class="main-contact">
                    +001122334455
                </div>
                <div class="description-contact">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, nostrum quia itaque sint repellat unde corporis ipsa mollitia tempora iure ea! Perferendis, accusamus quidem? Deserunt unde magnam cum quos incidunt.
                </div>
            </div>
            <div class="contact-method">
                <i class="bi bi-envelope-at"></i>
                <div class="main-contact">
                    contact@test.com
                </div>
                <div class="description-contact">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, nostrum quia itaque sint repellat unde corporis ipsa mollitia tempora iure ea! Perferendis, accusamus quidem? Deserunt unde magnam cum quos incidunt.
                </div>
            </div>
            <div class="contact-method">
                <i class="bi bi-geo-alt"></i>
                <div class="main-contact">
                    Test - Test - Test
                </div>
                <div class="description-contact">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, nostrum quia itaque sint repellat unde corporis ipsa mollitia tempora iure ea! Perferendis, accusamus quidem? Deserunt unde magnam cum quos incidunt.
                </div>
            </div>
        </section>
        {% if user.is_authenticated %}
            <form action="{% url 'contact' %}" method="POST" class="float-section contact-form">
                <h3 class="section-header">
                    {% trans "Sending Email" %}
                </h3>
                {% csrf_token %}
                {% include 'common/form.html' with form=form %}
                <button type="submit" class="submit-button below-captcha">
                    <i class="bi bi-send"></i>
                    {% trans "Send" %}
                </button>
            </form>
        {% else %}
            <form action="#" class="float-section contact-form" id="fake-form">
                <h3 class="section-header">
                    {% trans "Sending Email" %}
                </h3>
                {% csrf_token %}
                {% include 'common/form.html' with form=form %}
                <button type="button" class="submit-button below-captcha" onclick="showLoginRequiredAlert()">
                    <i class="bi bi-send"></i>
                    {% trans "Send" %}
                </button>
            </form>
        {% endif %}
    </section>
    <script>
        const fakeForm = document.getElementById("fake-form");

        fakeForm.onsubmit = (e) => {
            e.preventDefault();
        }

        function showLoginRequiredAlert() {
            Swal.fire({
                icon: 'error',
                title: '{% trans "Login Required" %}',
                text: '{% trans "You Should Login Before Sending Contact Email." %}',
                confirmButtonText: '{% trans "OK" %}',
                confirmButtonColor: '#004c98',
            })
        }
    </script>
{% endblock content %}