{% load static i18n %}

<footer>
    <section class="container">
        <form id="newsletter" action="" method="post">
            {% comment %} TODO: Add Functionality {% endcomment %}
            <p>
                {% trans "Subscribe To The Newsletter" %}
            </p>
            <div>
                <input type="email" placeholder="test@gmail.com">
                <button>
                    Subscribe
                </button>
            </div>
        </form>
        <div id="group-links-social">
            <div id="external-links">
                <a href="">Test Link 1</a>
                <a href="">Test Link 2</a>
                <a href="">Test Link 3</a>
                <a href="">Test Link 4</a>
                <a href="">Test Link 5</a>
                <a href="">Test Link 5</a>
                <a href="">Test Link 5</a>
                <a href="">Test Link 5</a>
                <a href="">Test Link 5</a>
                <a href="">Test Link 5</a>
            </div>
            <div id="socials">
                <a href="" style="--social-color: #1877f2"><i class="bi bi-facebook"></i></a>
                <a href="" style="--social-color: #1da1f2"><i class="bi bi-twitter"></i></a>
                <a href="" style="--social-color: #ff0000"><i class="bi bi-youtube"></i></a>
                <a href="" style="--social-color: #7232bd"><i class="bi bi-instagram"></i></a>
                <a href="" style="--social-color: #0a66c2"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </section>
    <span class="container">
        <hr />
    </span>
    <section class="container">
        <div id="payment-imgs">
            <img src="{% static 'imgs/payment/visa.png' %}" alt="visa card">
            <img src="{% static 'imgs/payment/master-card.png' %}" alt="master card">
            <img src="{% static 'imgs/payment/maestro.png' %}" alt="maestro card">
            <img src="{% static 'imgs/payment/bankak.jpeg' %}" alt="bankak">
        </div>
        <div id="copy-right">
            <p>
                {% trans "All Right Reserved. RBC | Alraida Academy © 2023" %}
            </p>
        </div>
    </section>
</footer>