{% load static i18n %}


<section class="container full-section bg-primary-light">
    <h2 class="section-header clr-primary-light-content">
        {% trans "Our Services" %}
    </h2>
    <div class="swiper-2">
        <ul id="services-wrapper" class="swiper-wrapper">
            <li class="swiper-slide service">
                <img src="{% static 'imgs/consulting.svg' %}" alt="consulting">
                <h3>
                    {% trans "Consulting" %}
                </h3>
                <div class="hover-service">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis autem cumque neque, obcaecati dolor totam quos nam dignissimos quo! Officiis, fugit temporibus, deleniti minus vitae libero quod, facere accusamus vel commodi unde voluptas animi odio voluptatem recusandae. Quas delectus accusamus perspiciatis praesentium consequuntur cupiditate rerum sequi aliquam? Ipsam esse, corporis sunt suscipit facilis mollitia obcaecati consectetur nobis. Molestiae nostrum ullam alias, magni sequi consectetur ducimus architecto neque, nihil itaque dolores? Sunt, voluptate maxime doloribus optio minima veritatis ullam nemo nisi obcaecati! Quae possimus officia corporis cum, nobis assumenda laboriosam voluptatum ab ex ipsa odit velit eveniet, facere et optio! Ducimus.
                    </p>
                    <a class="button bg-secondary" href="">
                        {% trans "More Details" %}
                    </a>
                </div>
            </li>
            <li class="swiper-slide service">
                <img src="{% static 'imgs/education.svg' %}" alt="consulting">
                <h3>
                    {% trans "Education" %}
                </h3>
                <div class="hover-service">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis autem cumque neque, obcaecati dolor totam quos nam dignissimos quo! Officiis, fugit temporibus, deleniti minus vitae libero quod, facere accusamus vel commodi unde voluptas animi odio voluptatem recusandae. Quas delectus accusamus perspiciatis praesentium consequuntur cupiditate rerum sequi aliquam? Ipsam esse, corporis sunt suscipit facilis mollitia obcaecati consectetur nobis. Molestiae nostrum ullam alias, magni sequi consectetur ducimus architecto neque, nihil itaque dolores? Sunt, voluptate maxime doloribus optio minima veritatis ullam nemo nisi obcaecati! Quae possimus officia corporis cum, nobis assumenda laboriosam voluptatum ab ex ipsa odit velit eveniet, facere et optio! Ducimus.
                    </p>
                    <a class="button bg-secondary" href="">
                        {% trans "More Details" %}
                    </a>
                </div>
            </li>
            <li class="swiper-slide service">
                <img src="{% static 'imgs/courses.svg' %}" alt="consulting">
                <h3>
                    {% trans "Courses" %}
                </h3>
                <div class="hover-service">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis autem cumque neque, obcaecati dolor totam quos nam dignissimos quo! Officiis, fugit temporibus, deleniti minus vitae libero quod, facere accusamus vel commodi unde voluptas animi odio voluptatem recusandae. Quas delectus accusamus perspiciatis praesentium consequuntur cupiditate rerum sequi aliquam? Ipsam esse, corporis sunt suscipit facilis mollitia obcaecati consectetur nobis. Molestiae nostrum ullam alias, magni sequi consectetur ducimus architecto neque, nihil itaque dolores? Sunt, voluptate maxime doloribus optio minima veritatis ullam nemo nisi obcaecati! Quae possimus officia corporis cum, nobis assumenda laboriosam voluptatum ab ex ipsa odit velit eveniet, facere et optio! Ducimus.
                    </p>
                    <a class="button bg-secondary" href="">
                        {% trans "More Details" %}
                    </a>
                </div>
            </li>
            <li class="swiper-slide service">
                <img src="{% static 'imgs/certificate.svg' %}" alt="consulting">
                <h3>
                    {% trans "Certificates" %}
                </h3>
                <div class="hover-service">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis autem cumque neque, obcaecati dolor totam quos nam dignissimos quo! Officiis, fugit temporibus, deleniti minus vitae libero quod, facere accusamus vel commodi unde voluptas animi odio voluptatem recusandae. Quas delectus accusamus perspiciatis praesentium consequuntur cupiditate rerum sequi aliquam? Ipsam esse, corporis sunt suscipit facilis mollitia obcaecati consectetur nobis. Molestiae nostrum ullam alias, magni sequi consectetur ducimus architecto neque, nihil itaque dolores? Sunt, voluptate maxime doloribus optio minima veritatis ullam nemo nisi obcaecati! Quae possimus officia corporis cum, nobis assumenda laboriosam voluptatum ab ex ipsa odit velit eveniet, facere et optio! Ducimus.
                    </p>
                    <a class="button bg-secondary" href="">
                        {% trans "More Details" %}
                    </a>
                </div>
            </li>
            <li class="swiper-slide service">
                <img src="{% static 'imgs/exams.svg' %}" alt="consulting">
                <h3>
                    {% trans "Exams" %}
                </h3>
                <div class="hover-service">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis autem cumque neque, obcaecati dolor totam quos nam dignissimos quo! Officiis, fugit temporibus, deleniti minus vitae libero quod, facere accusamus vel commodi unde voluptas animi odio voluptatem recusandae. Quas delectus accusamus perspiciatis praesentium consequuntur cupiditate rerum sequi aliquam? Ipsam esse, corporis sunt suscipit facilis mollitia obcaecati consectetur nobis. Molestiae nostrum ullam alias, magni sequi consectetur ducimus architecto neque, nihil itaque dolores? Sunt, voluptate maxime doloribus optio minima veritatis ullam nemo nisi obcaecati! Quae possimus officia corporis cum, nobis assumenda laboriosam voluptatum ab ex ipsa odit velit eveniet, facere et optio! Ducimus.
                    </p>
                    <a class="button bg-secondary" href="">
                        {% trans "More Details" %}
                    </a>
                </div>
            </li>
            <li class="swiper-slide service">
                <img src="{% static 'imgs/IT.svg' %}" alt="consulting">
                <h3>
                    {% trans "I.T." %}
                </h3>
                <div class="hover-service">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis autem cumque neque, obcaecati dolor totam quos nam dignissimos quo! Officiis, fugit temporibus, deleniti minus vitae libero quod, facere accusamus vel commodi unde voluptas animi odio voluptatem recusandae. Quas delectus accusamus perspiciatis praesentium consequuntur cupiditate rerum sequi aliquam? Ipsam esse, corporis sunt suscipit facilis mollitia obcaecati consectetur nobis. Molestiae nostrum ullam alias, magni sequi consectetur ducimus architecto neque, nihil itaque dolores? Sunt, voluptate maxime doloribus optio minima veritatis ullam nemo nisi obcaecati! Quae possimus officia corporis cum, nobis assumenda laboriosam voluptatum ab ex ipsa odit velit eveniet, facere et optio! Ducimus.
                    </p>
                    <a class="button bg-secondary" href="">
                        {% trans "More Details" %}
                    </a>
                </div>
            </li>
            <li class="swiper-slide service">
                <img src="{% static 'imgs/jobs.svg' %}" alt="consulting">
                <h3>
                    {% trans "Jobs" %}
                </h3>
                <div class="hover-service">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis autem cumque neque, obcaecati dolor totam quos nam dignissimos quo! Officiis, fugit temporibus, deleniti minus vitae libero quod, facere accusamus vel commodi unde voluptas animi odio voluptatem recusandae. Quas delectus accusamus perspiciatis praesentium consequuntur cupiditate rerum sequi aliquam? Ipsam esse, corporis sunt suscipit facilis mollitia obcaecati consectetur nobis. Molestiae nostrum ullam alias, magni sequi consectetur ducimus architecto neque, nihil itaque dolores? Sunt, voluptate maxime doloribus optio minima veritatis ullam nemo nisi obcaecati! Quae possimus officia corporis cum, nobis assumenda laboriosam voluptatum ab ex ipsa odit velit eveniet, facere et optio! Ducimus.
                    </p>
                    <a class="button bg-secondary" href="">
                        {% trans "More Details" %}
                    </a>
                </div>
            </li>
            <li class="swiper-slide service">
                <img src="{% static 'imgs/blogs.svg' %}" alt="consulting">
                <h3>
                    {% trans "Blogs" %}
                </h3>
                <div class="hover-service">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis autem cumque neque, obcaecati dolor totam quos nam dignissimos quo! Officiis, fugit temporibus, deleniti minus vitae libero quod, facere accusamus vel commodi unde voluptas animi odio voluptatem recusandae. Quas delectus accusamus perspiciatis praesentium consequuntur cupiditate rerum sequi aliquam? Ipsam esse, corporis sunt suscipit facilis mollitia obcaecati consectetur nobis. Molestiae nostrum ullam alias, magni sequi consectetur ducimus architecto neque, nihil itaque dolores? Sunt, voluptate maxime doloribus optio minima veritatis ullam nemo nisi obcaecati! Quae possimus officia corporis cum, nobis assumenda laboriosam voluptatum ab ex ipsa odit velit eveniet, facere et optio! Ducimus.
                    </p>
                    <a class="button bg-secondary" href="">
                        {% trans "More Details" %}
                    </a>
                </div>
            </li>
            <li class="swiper-slide service">
                <img src="{% static 'imgs/free-library.svg' %}" alt="consulting">
                <h3>
                    {% trans "Free Library" %}
                </h3>
                <div class="hover-service">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis autem cumque neque, obcaecati dolor totam quos nam dignissimos quo! Officiis, fugit temporibus, deleniti minus vitae libero quod, facere accusamus vel commodi unde voluptas animi odio voluptatem recusandae. Quas delectus accusamus perspiciatis praesentium consequuntur cupiditate rerum sequi aliquam? Ipsam esse, corporis sunt suscipit facilis mollitia obcaecati consectetur nobis. Molestiae nostrum ullam alias, magni sequi consectetur ducimus architecto neque, nihil itaque dolores? Sunt, voluptate maxime doloribus optio minima veritatis ullam nemo nisi obcaecati! Quae possimus officia corporis cum, nobis assumenda laboriosam voluptatum ab ex ipsa odit velit eveniet, facere et optio! Ducimus.
                    </p>
                    <a class="button bg-secondary" href="">
                        {% trans "More Details" %}
                    </a>
                </div>
            </li>
        </ul>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>