{% load i18n %}

<nav class="container">
    <h1>
        RBMC
    </h1>
    <ul class="links">
        <li>
            {% trans "Test" %}
        </li>
        <li>
            {% trans "Test" %}
        </li>
        <li>
            {% trans "Test" %}
        </li>
        <li>
            {% trans "Test" %}
        </li>
        <li>
            {% trans "Test" %}
        </li>
    </ul>
    <button id="mobile-toggle">
        <i class="bi bi-list"></i>
    </button>
    <aside id="side-navbar">
        <button id="mobile-toggle-close">
            <i class="bi bi-x-lg"></i>
        </button>
    </aside>
    <div id="overlay"></div>
</nav>