{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% block meta_tags %}{% endblock meta_tags %}

		<!-- css styles -->
		<link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}" />
		<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
		<link rel="stylesheet" href="{% static 'css/support.css' %}" />
		<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
		<link rel="stylesheet" href="{% static 'css/index.css' %}" />
		<link rel="stylesheet" href="{% static 'css/base.css' %}" />
		
		<!-- Sweet Alert 2 -->
		<script src="{% static 'js/sweetalert2.js' %}"></script>

		<!-- lottie player -->
		<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
		
		<title>{% block title %}{% endblock title %}</title>
	</head>
	<body>
		<header>
			{% include 'partials/navbar.html' %} {% block hero %}{% endblock hero %}
		</header>

		<main {% if request.path == "/" %}class="index-page"{% endif %}>
			{% block content %}{% endblock content %}
		</main>

		{% include 'partials/footer.html' %}

		<!-- Pages Javascript -->
		<script src="{% static 'js/support.js' %}"></script>
		<script src="{% static 'js/base.js' %}"></script>
		<!-- Swiper (Slider) -->
		<script src="{% static 'js/swiper.min.js' %}"></script>
		<!-- Sliders -->
		<script src="{% static 'js/sliders.js' %}"></script>
	</body>
</html>
