<!DOCTYPE html>
<html lang="ar" dir="rtl">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="description" content="" />
		<meta property="og:title" content="" />
		<meta property="og:description" content="" />
	</head>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
    </style>
	<body style="background-color: #8ed1f352; width: 100%;">
		<div style="font-family: 'Cairo', sans-serif; display: flex; flex-direction: column; width: 100%; padding: 2rem 1rem; gap: 2rem">
			<h2 style="color: #0fd100">
                العنوان: <span style="font-weight: 700; color: #00347c">{{ subject }}</span>
            </h2>
            <hr style="border: 1px solid #8ed1f3; width: 100%; align-self: center" />
            <p style="font-size: 16px; color: #00347c">
                {{ message }}
            </p>
		</div>
	</body>
</html>
